body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightgray;
    font-family: serif;
    font-variant: small-caps;
    font-weight: bold;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 15px;
}

.content-wrapper {
    display: block;
    background-color: white;

    padding: 15px 15px;

    -webkit-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.5);
}

#character-basics input[type=text] {
    border: none;
    border-bottom: 1px solid black;
}

#character-basics input[type=text]:disabled {
    background-color: white;
}

#character-basics input[type=button], select {
    background-color: white;
    height: 25px;
}

#character-basics input[type=button]:hover {
    background-color: lightgray;
}

#race-list {
    width: 33%;
    height: 100%;
    overflow: auto;
}

#race-list label {
    background-color: lightgray;
    cursor: pointer;
    width: 90%;
}

#race-list input {
    visibility: hidden;
}

#race-list input:checked + label {
    background-color: #87dbff;
}

#ability-scores {
    text-align: center;
}

#ability-scores input[type=text]:disabled {
    border: 1px solid black;
    width: 20%;
    background-color: white;
    text-align: center;
}

#ability-scores label{
    width: 20%;
    font-size: 80%;
    text-align: center;
}

#ability-scores input[type=button] {
    background-color: black;
    color: white;
    width: 100%;
    min-width: 50px;
}

@media print {
    body * {visibility:hidden;}
    .content-wrapper, .content-wrapper * {visibility:visible;}
    .content-wrapper {position:absolute;left:0;right:0;}
}