
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="ability-scores">

    <div class="row">
        <div class="col-sm-12">
            <h2>Ability Scores</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <label>Ability Name</label>
        </div>
        <div class="col-sm-2">
            <label>Ability Score</label>
        </div>
        <div class="col-sm-2">
            <label>Ability Modifier</label>
        </div>
        <div class="col-sm-2">
            <label>Temp Score</label>
        </div>
        <div class="col-sm-2">
            <label>Temp Modifier</label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            STR
        </div>
        <div class="col-sm-2">
            <input type="text" value="10" disabled style="width:100%" />
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            DEX
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            CON
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            INT
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            WIS
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            CHA
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
        <div class="col-sm-2">
            <input type="text" disabled style="width:100%" />
        </div>
    </div>

</div>