
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="ability-scores">

    <div class="row">
        <div class="col-sm-12">
            <h2><input type="button" id="ability-score-header" value="Ability Scores" data-toggle="modal" data-target="#test-modal"/></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-3 col-sm-9">
            <label>Ability<br />Score</label>
            <label>Ability<br />Mod</label>
            <label>Temp<br />Score</label>
            <label>Temp<br />Mod</label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <input type="button" value="STR" data-toggle="modal" data-target="#test-modal"/>
        </div>
        <div class="col-sm-9">
            <input type="text" value="10" disabled />
            <input type="text" disabled />
            <input type="text" disabled />
            <input type="text" disabled />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <input type="button" value="DEX" data-toggle="modal" data-target="#test-modal"/>
        </div>
        <div class="col-sm-9">
            <input type="text" disabled />
            <input type="text" disabled />
            <input type="text" disabled />
            <input type="text" disabled />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <input type="button" value="CON" data-toggle="modal" data-target="#test-modal"/>
        </div>
        <div class="col-sm-9">
            <input type="text" disabled />
            <input type="text" disabled />
            <input type="text" disabled />
            <input type="text" disabled />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <input type="button" value="INT" data-toggle="modal" data-target="#test-modal"/>
        </div>
        <div class="col-sm-9">
            <input type="text" disabled />
            <input type="text" disabled />
            <input type="text" disabled />
            <input type="text" disabled />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <input type="button" value="WIS" data-toggle="modal" data-target="#test-modal"/>
        </div>
        <div class="col-sm-9">
            <input type="text" disabled />
            <input type="text" disabled />
            <input type="text" disabled />
            <input type="text" disabled />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <input type="button" value="CHA" data-toggle="modal" data-target="#test-modal"/>
        </div>
        <div class="col-sm-9">
            <input type="text" disabled />
            <input type="text" disabled />
            <input type="text" disabled />
            <input type="text" disabled />
        </div>
    </div>
</div>

<div class="modal" id="test-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Ability Scores</h2>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>